<!-- 2023 Projects -->
<h3 class="center-text top-padding">
  2023<button
    *ngIf="!is2023"
    (click)="toggle2023()"
    class="collapsable upanddown"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="24"
      height="24"
      fill="currentColor"
      class="bi bi-arrows-collapse"
      viewBox="0 0 16 16"
    >
      <path
        fill-rule="evenodd"
        d="M1 8a.5.5 0 0 1 .5-.5h13a.5.5 0 0 1 0 1h-13A.5.5 0 0 1 1 8Zm7-8a.5.5 0 0 1 .5.5v3.793l1.146-1.147a.5.5 0 0 1 .708.708l-2 2a.5.5 0 0 1-.708 0l-2-2a.5.5 0 1 1 .708-.708L7.5 4.293V.5A.5.5 0 0 1 8 0Zm-.5 11.707-1.146 1.147a.5.5 0 0 1-.708-.708l2-2a.5.5 0 0 1 .708 0l2 2a.5.5 0 0 1-.708.708L8.5 11.707V15.5a.5.5 0 0 1-1 0v-3.793Z"
      />
    </svg>
  </button>
  <button *ngIf="is2023" (click)="toggle2023()" class="collapsable">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="24"
      height="24"
      fill="currentColor"
      class="bi bi-arrows-expand"
      viewBox="0 0 16 16"
    >
      <path
        fill-rule="evenodd"
        d="M1 8a.5.5 0 0 1 .5-.5h13a.5.5 0 0 1 0 1h-13A.5.5 0 0 1 1 8ZM7.646.146a.5.5 0 0 1 .708 0l2 2a.5.5 0 0 1-.708.708L8.5 1.707V5.5a.5.5 0 0 1-1 0V1.707L6.354 2.854a.5.5 0 1 1-.708-.708l2-2ZM8 10a.5.5 0 0 1 .5.5v3.793l1.146-1.147a.5.5 0 0 1 .708.708l-2 2a.5.5 0 0 1-.708 0l-2-2a.5.5 0 0 1 .708-.708L7.5 14.293V10.5A.5.5 0 0 1 8 10Z"
      />
    </svg>
  </button>
</h3>
<hr class="year-line bottom-padding" />

<div [hidden]="is2023">
  <div class="row top-padding center-div">
    <div class="content col-md-5 project-description">
      <h1 class="no-top-margin big-project-title">
        Portofolio
        <a class="source-code" href="" target="_blank">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="20"
            height="20"
            fill="currentColor"
            class="bi bi-file-earmark-code-fill"
            viewBox="0 0 16 16"
          >
            <path
              d="M9.293 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V4.707A1 1 0 0 0 13.707 4L10 .293A1 1 0 0 0 9.293 0zM9.5 3.5v-2l3 3h-2a1 1 0 0 1-1-1zM6.646 7.646a.5.5 0 1 1 .708.708L5.707 10l1.647 1.646a.5.5 0 0 1-.708.708l-2-2a.5.5 0 0 1 0-.708l2-2zm2.708 0 2 2a.5.5 0 0 1 0 .708l-2 2a.5.5 0 0 1-.708-.708L10.293 10 8.646 8.354a.5.5 0 1 1 .708-.708z"
            />
          </svg>
        </a>
      </h1>
      <p class="paragraph">
        My Online Portfolio is a website that showcases my creative work as a
        web developer, graphic designer, and content creator. The primary
        purpose of this website is to showcase my skills and experience to
        potential clients, employers, and collaborators.<br /><br />
        <a class="read-more" (click)="openModal(portofolio)">Read more</a>
      </p>
    </div>
    <div class="col-md-6">
      <img src="../../../assets/portofolio.png" class="project-image" />
    </div>
    <div>
      <button class="tag">Angular</button>
      <button disabled class="vl"></button>
      <button class="tag">TypeScript</button>
      <button class="tag">JavaScript</button>
      <button class="tag">HTML</button>
      <button class="tag">CSS</button>
      <button disabled class="vl"></button>
      <button class="tag">Frontend</button>
    </div>
    <hr
      class="bottom-padding center-div"
      style="margin-top: 20px; width: 70%"
    />
  </div>
</div>

<!-- 2022 Projects -->
<h3 class="top-padding center-text">
  2022<button
    *ngIf="!is2022"
    (click)="toggle2022()"
    class="collapsable upanddown"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="24"
      height="24"
      fill="currentColor"
      class="bi bi-arrows-collapse"
      viewBox="0 0 16 16"
    >
      <path
        fill-rule="evenodd"
        d="M1 8a.5.5 0 0 1 .5-.5h13a.5.5 0 0 1 0 1h-13A.5.5 0 0 1 1 8Zm7-8a.5.5 0 0 1 .5.5v3.793l1.146-1.147a.5.5 0 0 1 .708.708l-2 2a.5.5 0 0 1-.708 0l-2-2a.5.5 0 1 1 .708-.708L7.5 4.293V.5A.5.5 0 0 1 8 0Zm-.5 11.707-1.146 1.147a.5.5 0 0 1-.708-.708l2-2a.5.5 0 0 1 .708 0l2 2a.5.5 0 0 1-.708.708L8.5 11.707V15.5a.5.5 0 0 1-1 0v-3.793Z"
      />
    </svg>
  </button>
  <button *ngIf="is2022" (click)="toggle2022()" class="collapsable">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="24"
      height="24"
      fill="currentColor"
      class="bi bi-arrows-expand"
      viewBox="0 0 16 16"
    >
      <path
        fill-rule="evenodd"
        d="M1 8a.5.5 0 0 1 .5-.5h13a.5.5 0 0 1 0 1h-13A.5.5 0 0 1 1 8ZM7.646.146a.5.5 0 0 1 .708 0l2 2a.5.5 0 0 1-.708.708L8.5 1.707V5.5a.5.5 0 0 1-1 0V1.707L6.354 2.854a.5.5 0 1 1-.708-.708l2-2ZM8 10a.5.5 0 0 1 .5.5v3.793l1.146-1.147a.5.5 0 0 1 .708.708l-2 2a.5.5 0 0 1-.708 0l-2-2a.5.5 0 0 1 .708-.708L7.5 14.293V10.5A.5.5 0 0 1 8 10Z"
      />
    </svg>
  </button>
</h3>
<hr class="year-line bottom-padding" />

<div [hidden]="is2022">
  <div class="row top-padding center-div">
    <div class="content col-md-5 project-description">
      <h1 class="no-top-margin big-project-title">
        The Circle
        <a
          class="source-code"
          href="https://drive.filen.io/f/8a461ecf-f89c-4929-b1e5-e59a31603089#DOPyF9V64OcS7gXPjfa9KGGKFN0GZUql"
          target="_blank"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="20"
            height="20"
            fill="currentColor"
            class="bi bi-file-earmark-code-fill"
            viewBox="0 0 16 16"
          >
            <path
              d="M9.293 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V4.707A1 1 0 0 0 13.707 4L10 .293A1 1 0 0 0 9.293 0zM9.5 3.5v-2l3 3h-2a1 1 0 0 1-1-1zM6.646 7.646a.5.5 0 1 1 .708.708L5.707 10l1.647 1.646a.5.5 0 0 1-.708.708l-2-2a.5.5 0 0 1 0-.708l2-2zm2.708 0 2 2a.5.5 0 0 1 0 .708l-2 2a.5.5 0 0 1-.708-.708L10.293 10 8.646 8.354a.5.5 0 1 1 .708-.708z"
            />
          </svg>
        </a>
      </h1>
      <p class="paragraph">
        This project was inspired by "The Circle", a book and film that explores
        the dangers of transparency and constantly being watched. The project
        consisted of three components - a website for viewing streams and
        chatting, an Android app for starting streams, and a backend server for
        monitoring streams and storing data. The project requirements were that
        no confidentiality was allowed while keeping integrity and scalability
        in mind. To maintain data integrity without confidentiality, data was
        signed using a user's private key and verified using the public key. My
        responsibility of this project was to create the frontend with three
        other project members.
        <br />
        <br />
        <a class="read-more" (click)="openModal(circle)">Read more</a>
      </p>
    </div>
    <div class="col-md-6">
      <img src="../../../assets/circle.png" class="project-image" />
    </div>
    <div>
      <button class="tag">Angular</button>
      <button disabled class="vl"></button>
      <button class="tag">Scrum</button>
      <button class="tag">Scrum Master</button>
      <button disabled class="vl"></button>
      <button class="tag">TypeScript</button>
      <button class="tag">JavaScript</button>
      <button class="tag">RTMP</button>
      <button class="tag">HTML</button>
      <button class="tag">CSS</button>
      <button disabled class="vl"></button>
      <button class="tag">Frontend</button>
    </div>
    <hr
      class="bottom-padding center-div"
      style="margin-top: 20px; width: 70%"
    />
  </div>

  <div class="row top-padding center-div">
    <div class="col-md-6">
      <img src="../../../assets/data-science.png" class="project-image" />
    </div>
    <div class="content col-md-5 project-description">
      <h1 class="no-top-margin big-project-title">
        Data Science Portofolio
        <a
          class="source-code"
          href="https://drive.filen.io/f/cff9e2b9-5da6-4091-b994-9f15ef9ed9bd#DTZ4sQURH9AQe9XTVOpCB76FI88r49eM"
          target="_blank"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="20"
            height="20"
            fill="currentColor"
            class="bi bi-file-earmark-code-fill"
            viewBox="0 0 16 16"
          >
            <path
              d="M9.293 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V4.707A1 1 0 0 0 13.707 4L10 .293A1 1 0 0 0 9.293 0zM9.5 3.5v-2l3 3h-2a1 1 0 0 1-1-1zM6.646 7.646a.5.5 0 1 1 .708.708L5.707 10l1.647 1.646a.5.5 0 0 1-.708.708l-2-2a.5.5 0 0 1 0-.708l2-2zm2.708 0 2 2a.5.5 0 0 1 0 .708l-2 2a.5.5 0 0 1-.708-.708L10.293 10 8.646 8.354a.5.5 0 1 1 .708-.708z"
            />
          </svg>
        </a>
      </h1>
      <p class="paragraph">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse sit
        amet nibh dui. Donec elementum non lorem ac luctus. Sed a ex a quam
        viverra consequat id eget metus. Ut faucibus ex eget massa interdum, eu
        elementum mauris condimentum. In condimentum eros ac consequat
        tincidunt. Morbi vel mi ac mauris pulvinar aliquet vel quis mi. In vel
        lacus nulla. Pellentesque vitae tortor malesuada, mollis mauris non,
        luctus velit. Duis purus nulla, hendrerit in vehicula sed, convallis nec
        nisi. In eget porttitor orci.
        <br />
        <br />
        <a class="read-more">Read more</a>
      </p>
    </div>
    <div class="col-md-6"></div>
    <div class="col-md-6">
      <button class="tag">Jupyter Notebook</button>
      <button disabled class="vl"></button>
      <button class="tag">Python</button>
      <button disabled class="vl"></button>
      <button class="tag">Backend</button>
    </div>
    <hr
      class="bottom-padding center-div"
      style="margin-top: 20px; width: 70%"
    />
  </div>

  <div class="row top-padding center-div">
    <div class="content col-md-5 project-description">
      <h1 class="no-top-margin big-project-title">
        Project Kramse
        <a
          class="source-code"
          href="https://drive.filen.io/f/6561253a-2f18-4550-a980-c193089f472d#yx6TibF5GW6VC7sPQxy42UQ4UXghwwUd"
          target="_blank"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="20"
            height="20"
            fill="currentColor"
            class="bi bi-file-earmark-code-fill"
            viewBox="0 0 16 16"
          >
            <path
              d="M9.293 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V4.707A1 1 0 0 0 13.707 4L10 .293A1 1 0 0 0 9.293 0zM9.5 3.5v-2l3 3h-2a1 1 0 0 1-1-1zM6.646 7.646a.5.5 0 1 1 .708.708L5.707 10l1.647 1.646a.5.5 0 0 1-.708.708l-2-2a.5.5 0 0 1 0-.708l2-2zm2.708 0 2 2a.5.5 0 0 1 0 .708l-2 2a.5.5 0 0 1-.708-.708L10.293 10 8.646 8.354a.5.5 0 1 1 .708-.708z"
            />
          </svg>
        </a>
      </h1>
      <p class="paragraph">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse sit
        amet nibh dui. Donec elementum non lorem ac luctus. Sed a ex a quam
        viverra consequat id eget metus. Ut faucibus ex eget massa interdum, eu
        elementum mauris condimentum. In condimentum eros ac consequat
        tincidunt. Morbi vel mi ac mauris pulvinar aliquet vel quis mi. In vel
        lacus nulla. Pellentesque vitae tortor malesuada, mollis mauris non,
        luctus velit. Duis purus nulla, hendrerit in vehicula sed, convallis nec
        nisi. In eget porttitor orci.
        <br />
        <br />
        <a class="read-more">Read more</a>
      </p>
    </div>
    <div class="col-md-6">
      <img src="../../../assets/kramse.png" class="project-image" />
    </div>
    <div>
      <button class="tag">Visual Studio</button>
      <button class="tag">Power BI</button>
      <button disabled class="vl"></button>
      <button class="tag">OLAP</button>
      <button class="tag">MDM</button>
      <button class="tag">DWA</button>
      <button class="tag">MySQL</button>
      <button disabled class="vl"></button>
      <button class="tag">Full Stack</button>
    </div>
    <hr
      class="bottom-padding center-div"
      style="margin-top: 20px; width: 70%"
    />
  </div>
</div>

<!-- 2021 Projects -->
<h3 class="top-padding center-text">
  2021<button
    *ngIf="!is2021"
    (click)="toggle2021()"
    class="collapsable upanddown"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="24"
      height="24"
      fill="currentColor"
      class="bi bi-arrows-collapse"
      viewBox="0 0 16 16"
    >
      <path
        fill-rule="evenodd"
        d="M1 8a.5.5 0 0 1 .5-.5h13a.5.5 0 0 1 0 1h-13A.5.5 0 0 1 1 8Zm7-8a.5.5 0 0 1 .5.5v3.793l1.146-1.147a.5.5 0 0 1 .708.708l-2 2a.5.5 0 0 1-.708 0l-2-2a.5.5 0 1 1 .708-.708L7.5 4.293V.5A.5.5 0 0 1 8 0Zm-.5 11.707-1.146 1.147a.5.5 0 0 1-.708-.708l2-2a.5.5 0 0 1 .708 0l2 2a.5.5 0 0 1-.708.708L8.5 11.707V15.5a.5.5 0 0 1-1 0v-3.793Z"
      />
    </svg>
  </button>
  <button *ngIf="is2021" (click)="toggle2021()" class="collapsable">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="24"
      height="24"
      fill="currentColor"
      class="bi bi-arrows-expand"
      viewBox="0 0 16 16"
    >
      <path
        fill-rule="evenodd"
        d="M1 8a.5.5 0 0 1 .5-.5h13a.5.5 0 0 1 0 1h-13A.5.5 0 0 1 1 8ZM7.646.146a.5.5 0 0 1 .708 0l2 2a.5.5 0 0 1-.708.708L8.5 1.707V5.5a.5.5 0 0 1-1 0V1.707L6.354 2.854a.5.5 0 1 1-.708-.708l2-2ZM8 10a.5.5 0 0 1 .5.5v3.793l1.146-1.147a.5.5 0 0 1 .708.708l-2 2a.5.5 0 0 1-.708 0l-2-2a.5.5 0 0 1 .708-.708L7.5 14.293V10.5A.5.5 0 0 1 8 10Z"
      />
    </svg>
  </button>
</h3>
<hr class="year-line bottom-padding" />

<div [hidden]="is2021">
  <div class="row top-padding center-div">
    <div class="content col-md-5 project-description">
      <h1 class="no-top-margin big-project-title">
        Stel je Vraag LIVE! - CM.com
        <a
          class="source-code"
          href="https://drive.filen.io/f/6fdbbab9-6a33-4e9c-ba0f-0c398f5575de#7rlWAtzZPPDMkgGdzLorOgtchcwaZyT9"
          target="_blank"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="20"
            height="20"
            fill="currentColor"
            class="bi bi-file-earmark-code-fill"
            viewBox="0 0 16 16"
          >
            <path
              d="M9.293 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V4.707A1 1 0 0 0 13.707 4L10 .293A1 1 0 0 0 9.293 0zM9.5 3.5v-2l3 3h-2a1 1 0 0 1-1-1zM6.646 7.646a.5.5 0 1 1 .708.708L5.707 10l1.647 1.646a.5.5 0 0 1-.708.708l-2-2a.5.5 0 0 1 0-.708l2-2zm2.708 0 2 2a.5.5 0 0 1 0 .708l-2 2a.5.5 0 0 1-.708-.708L10.293 10 8.646 8.354a.5.5 0 1 1 .708-.708z"
            />
          </svg>
        </a>
      </h1>
      <p class="paragraph">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse sit
        amet nibh dui. Donec elementum non lorem ac luctus. Sed a ex a quam
        viverra consequat id eget metus. Ut faucibus ex eget massa interdum, eu
        elementum mauris condimentum. In condimentum eros ac consequat
        tincidunt. Morbi vel mi ac mauris pulvinar aliquet vel quis mi. In vel
        lacus nulla. Pellentesque vitae tortor malesuada, mollis mauris non,
        luctus velit. Duis purus nulla, hendrerit in vehicula sed, convallis nec
        nisi. In eget porttitor orci.
        <br />
        <br />
        <a class="read-more">Read more</a>
      </p>
    </div>
    <div class="col-md-6">
      <img src="../../../assets/cmcom.png" class="project-image" />
    </div>
    <div>
      <button class="tag">Angular</button>
      <button disabled class="vl"></button>
      <button class="tag">Scrum</button>
      <button class="tag">Scrum Master</button>
      <button disabled class="vl"></button>
      <button class="tag">TypeScript</button>
      <button class="tag">Node.js</button>
      <button class="tag">WebRTC</button>
      <button class="tag">MySQL</button>
      <button class="tag">HTML</button>
      <button class="tag">CSS</button>
      <button disabled class="vl"></button>
      <button class="tag">Full Stack</button>
    </div>
    <hr
      class="bottom-padding center-div"
      style="margin-top: 20px; width: 70%"
    />
  </div>

  <div class="row top-padding center-div">
    <div class="col-md-6">
      <img src="../../../assets/client.png" class="project-image" />
    </div>
    <div class="content col-md-5 project-description">
      <h1 class="no-top-margin big-project-title">
        Dead by Daylight - Client-side
        <a
          class="source-code"
          href="https://drive.filen.io/f/ccdbc34e-4de5-446d-bf07-70388fad11bc#st5jxVfaGNfCZQotfX9f29GdvG9ASEjW"
          target="_blank"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="20"
            height="20"
            fill="currentColor"
            class="bi bi-file-earmark-code-fill"
            viewBox="0 0 16 16"
          >
            <path
              d="M9.293 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V4.707A1 1 0 0 0 13.707 4L10 .293A1 1 0 0 0 9.293 0zM9.5 3.5v-2l3 3h-2a1 1 0 0 1-1-1zM6.646 7.646a.5.5 0 1 1 .708.708L5.707 10l1.647 1.646a.5.5 0 0 1-.708.708l-2-2a.5.5 0 0 1 0-.708l2-2zm2.708 0 2 2a.5.5 0 0 1 0 .708l-2 2a.5.5 0 0 1-.708-.708L10.293 10 8.646 8.354a.5.5 0 1 1 .708-.708z"
            />
          </svg>
        </a>
      </h1>
      <p class="paragraph">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse sit
        amet nibh dui. Donec elementum non lorem ac luctus. Sed a ex a quam
        viverra consequat id eget metus. Ut faucibus ex eget massa interdum, eu
        elementum mauris condimentum. In condimentum eros ac consequat
        tincidunt. Morbi vel mi ac mauris pulvinar aliquet vel quis mi. In vel
        lacus nulla. Pellentesque vitae tortor malesuada, mollis mauris non,
        luctus velit. Duis purus nulla, hendrerit in vehicula sed, convallis nec
        nisi. In eget porttitor orci.
        <br />
        <br />
        <a class="read-more">Read more</a>
      </p>
    </div>
    <div class="col-md-5"></div>
    <div class="col-md-7">
      <button class="tag">Angular</button>
      <button class="tag">Neo4j</button>
      <button class="tag">MongoDB</button>
      <button disabled class="vl"></button>
      <button class="tag">TypeScript</button>
      <button class="tag">Node.js</button>
      <button class="tag">NoSQL</button>
      <button class="tag">HTML</button>
      <button class="tag">CSS</button>
      <button disabled class="vl"></button>
      <button class="tag">Full Stack</button>
    </div>
    <hr
      class="bottom-padding center-div"
      style="margin-top: 20px; width: 70%"
    />
  </div>

  <div class="row top-padding center-div">
    <div class="content col-md-5 project-description">
      <h1 class="no-top-margin big-project-title">
        Fysioterapie - Server-side
        <a
          class="source-code"
          href="https://drive.filen.io/f/02a316b4-ad27-493e-8ed5-d1e0bf9815e6#PFVzwcvJ40vOUOeA3HQ6zfaiWvMDEApT"
          target="_blank"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="20"
            height="20"
            fill="currentColor"
            class="bi bi-file-earmark-code-fill"
            viewBox="0 0 16 16"
          >
            <path
              d="M9.293 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V4.707A1 1 0 0 0 13.707 4L10 .293A1 1 0 0 0 9.293 0zM9.5 3.5v-2l3 3h-2a1 1 0 0 1-1-1zM6.646 7.646a.5.5 0 1 1 .708.708L5.707 10l1.647 1.646a.5.5 0 0 1-.708.708l-2-2a.5.5 0 0 1 0-.708l2-2zm2.708 0 2 2a.5.5 0 0 1 0 .708l-2 2a.5.5 0 0 1-.708-.708L10.293 10 8.646 8.354a.5.5 0 1 1 .708-.708z"
            />
          </svg>
        </a>
      </h1>
      <p class="paragraph">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse sit
        amet nibh dui. Donec elementum non lorem ac luctus. Sed a ex a quam
        viverra consequat id eget metus. Ut faucibus ex eget massa interdum, eu
        elementum mauris condimentum. In condimentum eros ac consequat
        tincidunt. Morbi vel mi ac mauris pulvinar aliquet vel quis mi. In vel
        lacus nulla. Pellentesque vitae tortor malesuada, mollis mauris non,
        luctus velit. Duis purus nulla, hendrerit in vehicula sed, convallis nec
        nisi. In eget porttitor orci.
        <br />
        <br />
        <a class="read-more">Read more</a>
      </p>
    </div>
    <div class="col-md-6">
      <img src="../../../assets/server.png" class="project-image" />
    </div>
    <div>
      <button class="tag">ASP.NET Core</button>
      <button class="tag">Azure DevOps</button>
      <button disabled class="vl"></button>
      <button class="tag">C#</button>
      <button class="tag">MySQL</button>
      <button class="tag">Onion Architecture</button>
      <button class="tag">HTML</button>
      <button class="tag">CSS</button>
      <button disabled class="vl"></button>
      <button class="tag">Full Stack</button>
    </div>
    <hr
      class="bottom-padding center-div"
      style="margin-top: 20px; width: 70%"
    />
  </div>

  <div class="row top-padding center-div">
    <div class="col-md-6">
      <img src="../../../assets/seeking-safety.png" class="project-image" />
    </div>
    <div class="content col-md-5 project-description">
      <h1 class="no-top-margin big-project-title">
        Seeking Safety - KFZ
        <a
          class="source-code"
          href="https://drive.filen.io/f/2b6bc74d-b4d3-4337-9ce2-382b73cc05d8#GIFm1LNij8II3gkOcwKLegPND7XkcbDu"
          target="_blank"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="20"
            height="20"
            fill="currentColor"
            class="bi bi-file-earmark-code-fill"
            viewBox="0 0 16 16"
          >
            <path
              d="M9.293 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V4.707A1 1 0 0 0 13.707 4L10 .293A1 1 0 0 0 9.293 0zM9.5 3.5v-2l3 3h-2a1 1 0 0 1-1-1zM6.646 7.646a.5.5 0 1 1 .708.708L5.707 10l1.647 1.646a.5.5 0 0 1-.708.708l-2-2a.5.5 0 0 1 0-.708l2-2zm2.708 0 2 2a.5.5 0 0 1 0 .708l-2 2a.5.5 0 0 1-.708-.708L10.293 10 8.646 8.354a.5.5 0 1 1 .708-.708z"
            />
          </svg>
        </a>
      </h1>
      <p class="paragraph">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse sit
        amet nibh dui. Donec elementum non lorem ac luctus. Sed a ex a quam
        viverra consequat id eget metus. Ut faucibus ex eget massa interdum, eu
        elementum mauris condimentum. In condimentum eros ac consequat
        tincidunt. Morbi vel mi ac mauris pulvinar aliquet vel quis mi. In vel
        lacus nulla. Pellentesque vitae tortor malesuada, mollis mauris non,
        luctus velit. Duis purus nulla, hendrerit in vehicula sed, convallis nec
        nisi. In eget porttitor orci.
        <br />
        <br />
        <a class="read-more">Read more</a>
      </p>
    </div>
    <div class="col-md-6"></div>
    <div class="col-md-6">
      <button class="tag">Android Studio</button>
      <button disabled class="vl"></button>
      <button class="tag">Kanban</button>
      <button disabled class="vl"></button>
      <button class="tag">Java</button>
      <button class="tag">XML</button>
      <button disabled class="vl"></button>
      <button class="tag">Frontend</button>
    </div>
    <hr
      class="bottom-padding center-div"
      style="margin-top: 20px; width: 70%"
    />
  </div>

  <div class="row top-padding center-div">
    <div class="content col-md-5 project-description">
      <h1 class="no-top-margin big-project-title">
        Samen Eten - Node.js API
        <a
          class="source-code"
          href="https://drive.filen.io/f/6b3df39b-5c6f-44f1-846f-66923995346f#3YOgc6XsljZhQBhqEoQpu5dNpvwHXNXp"
          target="_blank"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="20"
            height="20"
            fill="currentColor"
            class="bi bi-file-earmark-code-fill"
            viewBox="0 0 16 16"
          >
            <path
              d="M9.293 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V4.707A1 1 0 0 0 13.707 4L10 .293A1 1 0 0 0 9.293 0zM9.5 3.5v-2l3 3h-2a1 1 0 0 1-1-1zM6.646 7.646a.5.5 0 1 1 .708.708L5.707 10l1.647 1.646a.5.5 0 0 1-.708.708l-2-2a.5.5 0 0 1 0-.708l2-2zm2.708 0 2 2a.5.5 0 0 1 0 .708l-2 2a.5.5 0 0 1-.708-.708L10.293 10 8.646 8.354a.5.5 0 1 1 .708-.708z"
            />
          </svg>
        </a>
      </h1>
      <p class="paragraph">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse sit
        amet nibh dui. Donec elementum non lorem ac luctus. Sed a ex a quam
        viverra consequat id eget metus. Ut faucibus ex eget massa interdum, eu
        elementum mauris condimentum. In condimentum eros ac consequat
        tincidunt. Morbi vel mi ac mauris pulvinar aliquet vel quis mi. In vel
        lacus nulla. Pellentesque vitae tortor malesuada, mollis mauris non,
        luctus velit. Duis purus nulla, hendrerit in vehicula sed, convallis nec
        nisi. In eget porttitor orci.
        <br />
        <br />
        <a class="read-more">Read more</a>
      </p>
    </div>
    <div class="col-md-6">
      <img src="../../../assets/maaltijd.png" class="project-image" />
    </div>
    <div>
      <button class="tag">Node.js</button>
      <button class="tag">Postman</button>
      <button disabled class="vl"></button>
      <button class="tag">JavaScript</button>
      <button class="tag">JSON</button>
      <button class="tag">MySQL</button>
      <button disabled class="vl"></button>
      <button class="tag">Backend</button>
    </div>
    <hr
      class="bottom-padding center-div"
      style="margin-top: 20px; width: 70%"
    />
  </div>

  <div class="row top-padding center-div">
    <div class="col-md-6">
      <img src="../../../assets/davidetheatre.png" class="project-image" />
    </div>
    <div class="content col-md-5 project-description">
      <h1 class="no-top-margin big-project-title">
        Davide Theatre - Android App
        <a
          class="source-code"
          href="https://drive.filen.io/f/2e370b1d-04f7-4e08-8747-def040b70d8f#QN7YxdHXeSwBOxV1SD74264yvxMOGpWp"
          target="_blank"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="20"
            height="20"
            fill="currentColor"
            class="bi bi-file-earmark-code-fill"
            viewBox="0 0 16 16"
          >
            <path
              d="M9.293 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V4.707A1 1 0 0 0 13.707 4L10 .293A1 1 0 0 0 9.293 0zM9.5 3.5v-2l3 3h-2a1 1 0 0 1-1-1zM6.646 7.646a.5.5 0 1 1 .708.708L5.707 10l1.647 1.646a.5.5 0 0 1-.708.708l-2-2a.5.5 0 0 1 0-.708l2-2zm2.708 0 2 2a.5.5 0 0 1 0 .708l-2 2a.5.5 0 0 1-.708-.708L10.293 10 8.646 8.354a.5.5 0 1 1 .708-.708z"
            />
          </svg>
        </a>
      </h1>
      <p class="paragraph">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse sit
        amet nibh dui. Donec elementum non lorem ac luctus. Sed a ex a quam
        viverra consequat id eget metus. Ut faucibus ex eget massa interdum, eu
        elementum mauris condimentum. In condimentum eros ac consequat
        tincidunt. Morbi vel mi ac mauris pulvinar aliquet vel quis mi. In vel
        lacus nulla. Pellentesque vitae tortor malesuada, mollis mauris non,
        luctus velit. Duis purus nulla, hendrerit in vehicula sed, convallis nec
        nisi. In eget porttitor orci.
        <br />
        <br />
        <a class="read-more">Read more</a>
      </p>
    </div>
    <div class="col-md-6"></div>
    <div class="col-md-6">
      <button class="tag">Android Studio</button>
      <button class="tag">Public API</button>
      <button disabled class="vl"></button>
      <button class="tag">Java</button>
      <button class="tag">XML</button>
      <button disabled class="vl"></button>
      <button class="tag">Frontend</button>
    </div>
    <hr
      class="bottom-padding center-div"
      style="margin-top: 20px; width: 70%"
    />
  </div>

  <div class="row top-padding center-div">
    <div class="content col-md-5 project-description">
      <h1 class="no-top-margin big-project-title">
        Breaking Bad - Android App
        <a
          class="source-code"
          href="https://drive.filen.io/f/d41c1ba2-9bd2-423a-b255-3eb60f3737c8#6Vhb0ZpYhb5JaS6S51D9wMTIbRejVipF"
          target="_blank"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="20"
            height="20"
            fill="currentColor"
            class="bi bi-file-earmark-code-fill"
            viewBox="0 0 16 16"
          >
            <path
              d="M9.293 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V4.707A1 1 0 0 0 13.707 4L10 .293A1 1 0 0 0 9.293 0zM9.5 3.5v-2l3 3h-2a1 1 0 0 1-1-1zM6.646 7.646a.5.5 0 1 1 .708.708L5.707 10l1.647 1.646a.5.5 0 0 1-.708.708l-2-2a.5.5 0 0 1 0-.708l2-2zm2.708 0 2 2a.5.5 0 0 1 0 .708l-2 2a.5.5 0 0 1-.708-.708L10.293 10 8.646 8.354a.5.5 0 1 1 .708-.708z"
            />
          </svg>
        </a>
      </h1>
      <p class="paragraph">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse sit
        amet nibh dui. Donec elementum non lorem ac luctus. Sed a ex a quam
        viverra consequat id eget metus. Ut faucibus ex eget massa interdum, eu
        elementum mauris condimentum. In condimentum eros ac consequat
        tincidunt. Morbi vel mi ac mauris pulvinar aliquet vel quis mi. In vel
        lacus nulla. Pellentesque vitae tortor malesuada, mollis mauris non,
        luctus velit. Duis purus nulla, hendrerit in vehicula sed, convallis nec
        nisi. In eget porttitor orci.
        <br />
        <br />
        <a class="read-more">Read more</a>
      </p>
    </div>
    <div class="col-md-6">
      <img src="../../../assets/breakingbad.png" class="project-image" />
    </div>
    <div>
      <button class="tag">Android Studio</button>
      <button class="tag">Public API</button>
      <button disabled class="vl"></button>
      <button class="tag">Java</button>
      <button class="tag">XML</button>
      <button disabled class="vl"></button>
      <button class="tag">Frontend</button>
    </div>
    <hr
      class="bottom-padding center-div"
      style="margin-top: 20px; width: 70%"
    />
  </div>
</div>

<!-- 2020 Projects -->
<h3 class="top-padding center-text">
  2020<button
    *ngIf="!is2020"
    (click)="toggle2020()"
    class="collapsable upanddown"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="24"
      height="24"
      fill="currentColor"
      class="bi bi-arrows-collapse"
      viewBox="0 0 16 16"
    >
      <path
        fill-rule="evenodd"
        d="M1 8a.5.5 0 0 1 .5-.5h13a.5.5 0 0 1 0 1h-13A.5.5 0 0 1 1 8Zm7-8a.5.5 0 0 1 .5.5v3.793l1.146-1.147a.5.5 0 0 1 .708.708l-2 2a.5.5 0 0 1-.708 0l-2-2a.5.5 0 1 1 .708-.708L7.5 4.293V.5A.5.5 0 0 1 8 0Zm-.5 11.707-1.146 1.147a.5.5 0 0 1-.708-.708l2-2a.5.5 0 0 1 .708 0l2 2a.5.5 0 0 1-.708.708L8.5 11.707V15.5a.5.5 0 0 1-1 0v-3.793Z"
      />
    </svg>
  </button>
  <button *ngIf="is2020" (click)="toggle2020()" class="collapsable">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="24"
      height="24"
      fill="currentColor"
      class="bi bi-arrows-expand"
      viewBox="0 0 16 16"
    >
      <path
        fill-rule="evenodd"
        d="M1 8a.5.5 0 0 1 .5-.5h13a.5.5 0 0 1 0 1h-13A.5.5 0 0 1 1 8ZM7.646.146a.5.5 0 0 1 .708 0l2 2a.5.5 0 0 1-.708.708L8.5 1.707V5.5a.5.5 0 0 1-1 0V1.707L6.354 2.854a.5.5 0 1 1-.708-.708l2-2ZM8 10a.5.5 0 0 1 .5.5v3.793l1.146-1.147a.5.5 0 0 1 .708.708l-2 2a.5.5 0 0 1-.708 0l-2-2a.5.5 0 0 1 .708-.708L7.5 14.293V10.5A.5.5 0 0 1 8 10Z"
      />
    </svg>
  </button>
</h3>
<hr class="year-line bottom-padding" />

<div [hidden]="is2020">
  <div class="row top-padding center-div">
    <div class="content col-md-5 project-description">
      <h1 class="no-top-margin big-project-title">
        Clockbuster - Webdesign
        <a
          class="source-code"
          href="https://drive.filen.io/f/7795c865-4c62-4b30-8b86-6ec3cd7cb1e4#oG3ObFOhKFK1GrP3RqRFXgFhTZsN3mBH"
          target="_blank"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="20"
            height="20"
            fill="currentColor"
            class="bi bi-file-earmark-code-fill"
            viewBox="0 0 16 16"
          >
            <path
              d="M9.293 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V4.707A1 1 0 0 0 13.707 4L10 .293A1 1 0 0 0 9.293 0zM9.5 3.5v-2l3 3h-2a1 1 0 0 1-1-1zM6.646 7.646a.5.5 0 1 1 .708.708L5.707 10l1.647 1.646a.5.5 0 0 1-.708.708l-2-2a.5.5 0 0 1 0-.708l2-2zm2.708 0 2 2a.5.5 0 0 1 0 .708l-2 2a.5.5 0 0 1-.708-.708L10.293 10 8.646 8.354a.5.5 0 1 1 .708-.708z"
            />
          </svg>
        </a>
      </h1>
      <p class="paragraph">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse sit
        amet nibh dui. Donec elementum non lorem ac luctus. Sed a ex a quam
        viverra consequat id eget metus. Ut faucibus ex eget massa interdum, eu
        elementum mauris condimentum. In condimentum eros ac consequat
        tincidunt. Morbi vel mi ac mauris pulvinar aliquet vel quis mi. In vel
        lacus nulla. Pellentesque vitae tortor malesuada, mollis mauris non,
        luctus velit. Duis purus nulla, hendrerit in vehicula sed, convallis nec
        nisi. In eget porttitor orci.
        <br />
        <br />
        <a class="read-more">Read more</a>
      </p>
    </div>
    <div class="col-md-6">
      <img src="../../../assets/movie.png" class="project-image" />
    </div>
    <div>
      <button class="tag">Bootstrap</button>
      <button disabled class="vl"></button>
      <button class="tag">JavaScript</button>
      <button class="tag">HTML</button>
      <button class="tag">CSS</button>
      <button disabled class="vl"></button>
      <button class="tag">Frontend</button>
    </div>
    <hr
      class="bottom-padding center-div"
      style="margin-top: 20px; width: 70%"
    />
  </div>
</div>

<!-- Modals -->
<!-- Portofolio Modal -->
<ng-template #portofolio let-modal>
  <div class="entire-modal">
    <div class="modalheader">
      <h4>Portofolio</h4>
      <button class="close-modal" (click)="modal.dismiss()">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          fill="currentColor"
          class="bi bi-x-circle-fill"
          viewBox="0 0 16 16"
        >
          <path
            d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293 5.354 4.646z"
          />
        </svg>
      </button>
    </div>
    <div class="modalbody">
      <label
        >My Online Portfolio is a website that showcases my creative work as a
        web developer, graphic designer, and content creator. The primary
        purpose of this website is to showcase my skills and experience to
        potential clients, employers, and collaborators.<br /><br />
        The website will have a clean and modern design, with an intuitive
        layout that makes it easy for visitors to navigate and explore. The
        homepage will feature an introduction to my portfolio and a summary of
        my skills and experience. The portfolio section will be divided into
        categories, including web development, graphic design, and content
        creation, with each category featuring a collection of my best work.
        Each portfolio item will include a brief description, images, and links
        to the live projects or samples.<br /><br />
        Additionally, the website will include an about page, where I will share
        my background, interests, and career objectives. I will also provide
        contact information on this page, making it easy for potential clients
        or collaborators to get in touch with me.<br /><br />
        The website will be built using modern web development technologies such
        as HTML, CSS, JavaScript, and Bootstrap. It will be optimized for search
        engines and designed to be responsive, meaning that it will work
        seamlessly on all devices, including desktop computers, laptops,
        tablets, and smartphones.<br /><br />
        In conclusion, My Online Portfolio will be an essential tool for
        showcasing my creative work and attracting potential clients and
        collaborators. With its modern design, easy navigation, and responsive
        layout, it will be a valuable addition to my professional
        toolkit.</label
      >
    </div>
  </div>
</ng-template>

<!-- The Circle Modal -->
<ng-template #circle let-modal>
  <div class="entire-modal">
    <div class="modalheader">
      <h4>The Circle</h4>
      <button class="close-modal" (click)="modal.dismiss()">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          fill="currentColor"
          class="bi bi-x-circle-fill"
          viewBox="0 0 16 16"
        >
          <path
            d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293 5.354 4.646z"
          />
        </svg>
      </button>
    </div>
    <div class="modalbody">
      <label
        >This project was inspired by the book and film "The Circle" by Dave
        Eggers. The Circle is a book and film that explores the themes of
        transparency and online identity. The high-tech company in the story
        invents a camera called the SeeChange camera that allows people to
        stream real-time video and a single account system called TruYou that
        tracks all internet activity. The protagonist of the story becomes
        transparent by wearing the SeeChange camera and gains millions of
        followers. The overall message of the story is about the dangers of
        giving up privacy for the sake of transparency and being constantly
        watched.<br /><br />
        This project was composed of three components:<br /><br />
        - A web platform for watching live streams and interacting with the
        streamer through chat.<br />
        - An Android application for starting and stopping streams and reading
        chat.<br />
        - A backend server for monitoring streams, storing chat messages and
        account details.<br /><br />
        My responsibility of this project was to create the website with three
        other project members.<br /><br />
        This project had three major requirements:<br /><br />
        Confidentiality: Sending encrypted data, with the aim of shielding
        information from third parties, is not allowed. In other words, no data
        should be stored in the system that is encrypted with a public key.<br /><br />
        Integrity: Integrity must be ensured for all data sent.<br /><br />
        Availability, as a countermeasure against malicious actors, is not a
        requirement. Following the lean philosophy (no waste), time should not
        be spent on this. This may seem like a strange choice. For example,
        transparent individuals can earn points, but we do not need to take
        countermeasures if malicious actors want to prevent this from happening.
        However, in a larger perspective, this is not so strange: if there are
        malicious actors, The Circle Police will get involved and solve the
        problem with real-world measures. The choice is therefore not to prevent
        the problem with digital measures, but to solve it with real-world
        measures (prevention vs resolution). Note that availability in terms of
        scalability is a requirement.<br /><br />
        To ensure that the integrity of the data was maintained without
        confidentiality, we utilized a method of signing all stored data using
        the user's private key. This allowed other users to verify the data
        using the public key of the user through the use of RSASSA-PKCS1-v1_5
        with SHA-256. The message data, which included the date, sender,
        recipient streamer, and content, was stored as plaintext, as well as a
        signed hash that could be verified with the sender's public key.</label
      >
    </div>
  </div>
</ng-template>
