<!-- 2023 Projects -->
<h2 class="center-text top-padding">2023</h2>
<hr class="year-line bottom-padding" />

<div class="row top-padding center-div">
  <div class="content col-md-5 project-description">
    <h1 class="no-top-margin big-project-title">
      Portofolio
      <a class="source-code" href="">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="20"
          height="20"
          fill="currentColor"
          class="bi bi-file-earmark-code-fill"
          viewBox="0 0 16 16"
        >
          <path
            d="M9.293 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V4.707A1 1 0 0 0 13.707 4L10 .293A1 1 0 0 0 9.293 0zM9.5 3.5v-2l3 3h-2a1 1 0 0 1-1-1zM6.646 7.646a.5.5 0 1 1 .708.708L5.707 10l1.647 1.646a.5.5 0 0 1-.708.708l-2-2a.5.5 0 0 1 0-.708l2-2zm2.708 0 2 2a.5.5 0 0 1 0 .708l-2 2a.5.5 0 0 1-.708-.708L10.293 10 8.646 8.354a.5.5 0 1 1 .708-.708z"
          />
        </svg>
      </a>
    </h1>
    <p class="paragraph">
      My Online Portfolio is a website that showcases my creative work as a web
      developer, graphic designer, and content creator. The primary purpose of
      this website is to showcase my skills and experience to potential clients,
      employers, and collaborators. The website will have a clean and modern
      design, with an intuitive layout that makes it easy for visitors to
      navigate and explore. The homepage will feature an introduction to my
      services, a portfolio of my work, and a contact form. The portfolio page
      yayaya asdkfjaklsdjgf askld gjkl
      <br />
      <br />
      <a class="read-more">Read more</a>
    </p>
    <button class="tag">Angular</button>
    <button disabled class="vl"></button>
    <button class="tag">TypeScript</button>
    <button class="tag">JavaScript</button>
    <button class="tag">HTML</button>
    <button class="tag">CSS</button>
    <button disabled class="vl"></button>
    <button class="tag">Frontend</button>
  </div>
  <div class="col-md-6">
    <img src="../../../assets/portofolio.png" class="project-image" />
  </div>
</div>

<!-- 2022 Projects -->
<h2 class="top-padding center-text">2022</h2>
<hr class="year-line bottom-padding" />

<div class="row top-padding center-div">
  <div class="content col-md-5 project-description">
    <h1 class="no-top-margin big-project-title">
      The Circle
      <a class="source-code" href="">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="20"
          height="20"
          fill="currentColor"
          class="bi bi-file-earmark-code-fill"
          viewBox="0 0 16 16"
        >
          <path
            d="M9.293 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V4.707A1 1 0 0 0 13.707 4L10 .293A1 1 0 0 0 9.293 0zM9.5 3.5v-2l3 3h-2a1 1 0 0 1-1-1zM6.646 7.646a.5.5 0 1 1 .708.708L5.707 10l1.647 1.646a.5.5 0 0 1-.708.708l-2-2a.5.5 0 0 1 0-.708l2-2zm2.708 0 2 2a.5.5 0 0 1 0 .708l-2 2a.5.5 0 0 1-.708-.708L10.293 10 8.646 8.354a.5.5 0 1 1 .708-.708z"
          />
        </svg>
      </a>
    </h1>
    <p class="paragraph">
      My Online Portfolio is a website that showcases my creative work as a web
      developer, graphic designer, and content creator. The primary purpose of
      this website is to showcase my skills and experience to potential clients,
      employers, and collaborators. The website will have a clean and modern
      design, with an intuitive layout that makes it easy for visitors to
      navigate and explore. The homepage will feature an introduction to my
      services, a portfolio of my work, and a contact form. The portfolio page
      yayaya asdkfjaklsdjgf askld gjkl
      <br />
      <br />
      <a class="read-more">Read more</a>
    </p>
    <button class="tag">Angular</button>
    <button disabled class="vl"></button>
    <button class="tag">TypeScript</button>
    <button class="tag">JavaScript</button>
    <button class="tag">RTMP</button>
    <button disabled class="vl"></button>
    <button class="tag">Frontend</button>
  </div>
  <div class="col-md-6">
    <img src="../../../assets/circle.png" class="project-image" />
  </div>
  <hr class="bottom-padding center-div" style="margin-top: 20px; width: 70%" />
</div>

<div class="row top-padding center-div">
  <div class="col-md-6">
    <img src="../../../assets/data-science.png" class="project-image" />
  </div>
  <div class="content col-md-5 project-description">
    <h1 class="no-top-margin big-project-title">
      Data Science Portofolio
      <a class="source-code" href="">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="20"
          height="20"
          fill="currentColor"
          class="bi bi-file-earmark-code-fill"
          viewBox="0 0 16 16"
        >
          <path
            d="M9.293 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V4.707A1 1 0 0 0 13.707 4L10 .293A1 1 0 0 0 9.293 0zM9.5 3.5v-2l3 3h-2a1 1 0 0 1-1-1zM6.646 7.646a.5.5 0 1 1 .708.708L5.707 10l1.647 1.646a.5.5 0 0 1-.708.708l-2-2a.5.5 0 0 1 0-.708l2-2zm2.708 0 2 2a.5.5 0 0 1 0 .708l-2 2a.5.5 0 0 1-.708-.708L10.293 10 8.646 8.354a.5.5 0 1 1 .708-.708z"
          />
        </svg>
      </a>
    </h1>
    <p class="paragraph">
      My Online Portfolio is a website that showcases my creative work as a web
      developer, graphic designer, and content creator. The primary purpose of
      this website is to showcase my skills and experience to potential clients,
      employers, and collaborators. The website will have a clean and modern
      design, with an intuitive layout that makes it easy for visitors to
      navigate and explore. The homepage will feature an introduction to my
      services, a portfolio of my work, and a contact form. The portfolio page
      yayaya asdkfjaklsdjgf askld gjkl
      <br />
      <br />
      <a class="read-more">Read more</a>
    </p>
    <button class="tag">Angular</button>
    <button disabled class="vl"></button>
    <button class="tag">TypeScript</button>
    <button class="tag">JavaScript</button>
    <button class="tag">RTMP</button>
    <button disabled class="vl"></button>
    <button class="tag">Backend</button>
  </div>

  <hr class="bottom-padding center-div" style="margin-top: 20px; width: 70%" />
</div>

<!-- 2021 Projects -->
<h2 class="top-padding center-text">2021</h2>
<hr class="year-line bottom-padding" />

<!-- 2020 Projects -->
<h2 class="top-padding center-text">2020</h2>
<hr class="year-line bottom-padding" />
