<app-dashboard></app-dashboard>
<main role="main" class="container">
  <!-- Light Mode -->
  <button *ngIf="!darkTheme()" class="theme-button" (click)="switchTheme()">
    <i class="fa-solid fa-lg fa-moon icon-button"></i>
  </button>

  <!-- Dark Mode -->
  <button *ngIf="darkTheme()" class="theme-button" (click)="switchTheme()">
    <i class="fa-solid fa-lg fa-sun icon-button"></i>
  </button>

  <button class="top-button" (click)="scrollToTop()">
    <i class="fa-solid fa-arrow-up icon-button"></i>
  </button>

  <router-outlet></router-outlet>
</main>
