<div class="container">
  <div class="row">
    <div class="full-page content-center text-center" style="padding-top: 50px">
      <div class="col-md-12">
        <h1 class="big-title">Thijs van Rijsbergen</h1>
        <h4 class="big-subtitle line-1 anim-typewriter">
          Computer Science Student at Avans
        </h4>

        <div class="top-padding">
          <a
            class="contact-button"
            href="https://www.linkedin.com/in/thijs-van-rijsbergen-a684a423b/"
          >
            <button class="contact-link">
              <i class="fa-brands fa-xl fa-linkedin icon-button"></i>
            </button>
          </a>

          <a class="contact-button" href="https://github.com/Piukaas">
            <button class="contact-link">
              <i class="fa-brands fa-xl fa-github icon-button"></i>
            </button>
          </a>

          <a class="contact-button" href="mailto:thijsvanrijsbergen@gmail.com">
            <button class="contact-link">
              <i class="fa-solid fa-xl fa-envelope icon-button"></i>
            </button>
          </a>
        </div>
      </div>

      <div class="col-md-12">
        <button class="clear-button" (click)="scroll(projects)">
          <i class="fa-solid fa-xl fa-arrow-down fa-bounce icon"></i>
        </button>
      </div>
    </div>

    <div class="col-md-12 app-projects" style="display: absolute" #projects>
      <app-projects></app-projects>
    </div>
  </div>
</div>
