<!-- Footer -->
<footer class="bottom-padding top-padding">
  <div class="row">
    <div class="col-md-4">
      <h5>About me</h5>
      <p>
        My name is Thijs, and I am a computer science student at Avans
        University of Applied Sciences. As a student of this dynamic field, I am
        always eager to learn and explore new technologies and programming
        languages.
      </p>
    </div>

    <div class="col-md-4">
      <h5>Contact</h5>
      <p><i class="fa-solid fa-home"></i> Breda, The Netherlands</p>
      <p><i class="fa-solid fa-envelope"></i> thijsvanrijsbergen@gmail.com</p>
      <p>
        <i class="fa-solid fa-envelope"></i> t.vanrijsbergen1@student.avans.nl
      </p>
    </div>

    <div class="col-md-4">
      <h5>Follow me</h5>
      <a
        class="contact-footer-button"
        href="https://www.linkedin.com/in/thijs-van-rijsbergen-a684a423b/"
      >
        <button class="footer-link">
          <i class="fa-brands fa-xl fa-linkedin icon-button"></i>
        </button>
      </a>

      <a class="contact-footer-button" href="https://github.com/Piukaas">
        <button class="footer-link">
          <i class="fa-brands fa-xl fa-github icon-button"></i>
        </button>
      </a>

      <a
        class="contact-footer-button"
        href="mailto:thijsvanrijsbergen@gmail.com"
      >
        <button class="footer-link">
          <i class="fa-solid fa-xl fa-envelope icon-button"></i>
        </button>
      </a>
    </div>
  </div>
</footer>
