<div
  class="row top-padding center-div content-left"
  [ngClass]="{ 'flex-row-reverse': layout === 'odd' }"
>
  <div class="content col-md-5 project-description">
    <h1 class="no-top-margin big-project-title">
      {{ project.title }}
      <a class="source-code" href="{{ project.codeUrl }}" target="_blank">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="20"
          height="20"
          fill="currentColor"
          class="bi bi-file-earmark-code-fill"
          viewBox="0 0 16 16"
        >
          <path
            d="M9.293 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V4.707A1 1 0 0 0 13.707 4L10 .293A1 1 0 0 0 9.293 0zM9.5 3.5v-2l3 3h-2a1 1 0 0 1-1-1zM6.646 7.646a.5.5 0 1 1 .708.708L5.707 10l1.647 1.646a.5.5 0 0 1-.708.708l-2-2a.5.5 0 0 1 0-.708l2-2zm2.708 0 2 2a.5.5 0 0 1 0 .708l-2 2a.5.5 0 0 1-.708-.708L10.293 10 8.646 8.354a.5.5 0 1 1 .708-.708z"
          />
        </svg>
      </a>
    </h1>
    <p class="paragraph">
      {{ project.description }}<br /><br />
      <a class="read-more" (click)="openModal(portfolio)">Read more</a>
    </p>
  </div>

  <div class="col-md-6">
    <img [src]="project.imageUrl" class="project-image" />
  </div>

  <div class="col-md-12">
    <button *ngFor="let tag of project.tags" class="tag">
      {{ tag.name }} <span class="tooltiptext">{{ tag.tooltip }}</span>
    </button>
    <button *ngFor="let framework of project.frameworks" class="tag">
      {{ framework }} <span class="tooltiptext">Framework</span>
    </button>
    <button *ngFor="let ide of project.ides" class="tag">
      {{ ide }}
      <span class="tooltiptext">IDE</span>
    </button>
    <span *ngIf="project.languages.length" class="vl">|</span>
    <button *ngFor="let language of project.languages" class="tag">
      {{ language }} <span class="tooltiptext">Language</span>
    </button>
    <span class="vl">|</span>
    <button class="tag">
      {{ project.development }}<span class="tooltiptext">Development role</span>
    </button>
  </div>
  <hr class="bottom-padding center-div" style="margin-top: 20px; width: 70%" />
</div>

<ng-template #portfolio let-modal>
  <div class="entire-modal">
    <div class="modalheader">
      <h4>{{ project.title }}</h4>
      <button class="close-modal" (click)="modal.dismiss()">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          fill="currentColor"
          class="bi bi-x-circle-fill"
          viewBox="0 0 16 16"
        >
          <path
            d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293 5.354 4.646z"
          />
        </svg>
      </button>
    </div>
    <div class="modalbody">
      <label>
        <strong>Project description</strong><br />
        {{ project.description }}<br /><br />
        <strong>My role</strong><br />
        {{ project.roleDescription }}.<br /><br />
        <strong>Frameworks and programs</strong><br />
        <ul>
          <li *ngFor="let framework of project.frameworks">{{ framework }}</li>
          <ng-container *ngFor="let tag of project.tags">
            <li *ngIf="tag.type === 'Program'">
              {{ tag.name }}
            </li>
          </ng-container>
          <li *ngFor="let ide of project.ides">{{ ide }}</li>
        </ul>
        <strong>Databases</strong><br />
        <ul>
          <li *ngFor="let database of project.databases">{{ database }}</li>
          <li *ngIf="!project.databases.length">N/A</li>
        </ul>
        <strong>Programming languages and technologies</strong><br />
        <ul>
          <li *ngFor="let language of project.languages">{{ language }}</li>
          <ng-container *ngFor="let tag of project.tags">
            <li *ngIf="tag.type === 'Technology'">
              {{ tag.name }}
            </li>
          </ng-container>
        </ul>
      </label>
    </div>
  </div>
</ng-template>
