<div class="category-container container">
  <div class="row content-center">
    <!-- Websites -->
    <div class="col-md-3 col-6">
      <category-card
        (click)="navigateToProjects('Website')"
        [title]="'Websites'"
        [images]="['image1.jpg', 'image2.jpg']"
        [projectCount]="projectTypeCounts['Website']"
        [icon]="'fa-globe'"
      ></category-card>
    </div>

    <!-- API Projects -->
    <div class="col-md-3 col-6">
      <category-card
        (click)="navigateToProjects('API')"
        [title]="'APIs'"
        [images]="['image1.jpg', 'image2.jpg']"
        [projectCount]="projectTypeCounts['API']"
        [icon]="'fa-upload'"
      ></category-card>
    </div>

    <!-- Data Projects -->
    <div class="col-md-3 col-6">
      <category-card
        (click)="navigateToProjects('Data')"
        [title]="'Data projects'"
        [images]="['image1.jpg', 'image2.jpg']"
        [projectCount]="projectTypeCounts['Data']"
        [icon]="'fa-database'"
      ></category-card>
    </div>

    <!-- Mobile Applications -->
    <div class="col-md-3 col-6">
      <category-card
        (click)="navigateToProjects('Mobile')"
        [title]="'Applications'"
        [images]="['image1.jpg', 'image2.jpg']"
        [projectCount]="projectTypeCounts['Mobile']"
        [icon]="'fa-mobile-screen-button'"
      ></category-card>
    </div>

    <!-- Games -->
    <div class="col-md-3 col-6">
      <category-card
        (click)="navigateToProjects('Game')"
        [title]="'Games'"
        [images]="['image1.jpg', 'image2.jpg']"
        [projectCount]="projectTypeCounts['Game']"
        [icon]="'fa-gamepad'"
      ></category-card>
    </div>

    <!-- Algorithms -->
    <div class="col-md-3 col-6">
      <category-card
        (click)="navigateToProjects('Algorithm')"
        [title]="'Algorithms'"
        [images]="['image1.jpg', 'image2.jpg']"
        [projectCount]="projectTypeCounts['Algorithm']"
        [icon]="'fa-code'"
      ></category-card>
    </div>

    <!-- Experiences -->
    <div class="col-md-3 col-6">
      <category-card
        (click)="navigateToProjects('Experience')"
        [title]="'Experience'"
        [images]="['image1.jpg', 'image2.jpg']"
        [projectCount]="projectTypeCounts['Experience']"
        [icon]="'fa-briefcase'"
      ></category-card>
    </div>

    <!-- Gaming -->
    <div class="col-md-3 col-6">
      <category-card
        (click)="navigateToGames()"
        [title]="'Play some games'"
        [images]="['image1.jpg', 'image2.jpg']"
        [projectCount]="1"
        [icon]="'fa-dice'"
      ></category-card>
    </div>

    <a class="discover center-text" (click)="allProjects()"
      >Discover all projects and experiences</a
    >
    <div #nextView></div>
  </div>
</div>
