<div class="category-container container">
  <div class="row content-center">
    <div class="col-md-3">
      <!-- Websites -->
      <button class="category-button websites" (click)="navigateToProjects('Website')">
        <i class="fa-solid fa-2xl fa-globe icon-button"></i>
        <h3>Websites</h3>
      </button>
    </div>

    <div class="col-md-3">
      <!-- API Projects -->
      <button class="category-button apis" (click)="navigateToProjects('API')">
        <i class="fa-solid fa-2xl fa-upload icon-button"></i>
        <h3>APIs</h3>
      </button>
    </div>

    <div class="col-md-3">
      <!-- Data Projects -->
      <button class="category-button data" (click)="navigateToProjects('Data')">
        <i class="fa-solid fa-2xl fa-database icon-button"></i>
        <h3>Data Projects</h3>
      </button>
    </div>

    <div class="col-md-3">
      <!-- Mobile Applications -->
      <button class="category-button apps" (click)="navigateToProjects('Mobile')">
        <i class="fa-solid fa-2xl fa-mobile-screen-button icon-button"></i>
        <h3>Applications</h3>
      </button>
    </div>

    <div class="col-md-3">
      <!-- Games -->
      <button class="category-button games" (click)="navigateToProjects('Game')">
        <i class="fa-solid fa-2xl fa-gamepad icon-button"></i>
        <h3>Games</h3>
      </button>
    </div>

    <div class="col-md-3">
      <!-- Algorithms -->
      <button class="category-button algorithms" (click)="navigateToProjects('Algorithm')">
        <i class="fa-solid fa-2xl fa-code icon-button"></i>
        <h3>Algorithms</h3>
      </button>
    </div>

    <div class="col-md-3">
      <!-- Internships -->
      <button class="category-button internships" (click)="navigateToProjects('Internship')">
        <i class="fa-solid fa-2xl fa-briefcase icon-button"></i>
        <h3>Internships</h3>
      </button>
    </div>

    <a class="discover" (click)="allProjects()">Discover all projects and experiences...</a>
    <div #nextView></div>
  </div>
</div>