<div class="category-container container">
  <div class="row content-center">
    <!-- Websites -->
    <div class="col-md-3 col-6">
      <button
        class="category-button websites"
        (click)="navigateToProjects('Website')"
      >
        <i class="fa-solid fa-xl fa-globe icon-button"></i>
        <h4>Websites</h4>
      </button>
    </div>

    <!-- API Projects -->
    <div class="col-md-3 col-6">
      <button class="category-button apis" (click)="navigateToProjects('API')">
        <i class="fa-solid fa-xl fa-upload icon-button"></i>
        <h4>APIs</h4>
      </button>
    </div>

    <!-- Data Projects -->
    <div class="col-md-3 col-6">
      <button class="category-button data" (click)="navigateToProjects('Data')">
        <i class="fa-solid fa-xl fa-database icon-button"></i>
        <h4>Data projects</h4>
      </button>
    </div>

    <!-- Mobile Applications -->
    <div class="col-md-3 col-6">
      <button
        class="category-button apps"
        (click)="navigateToProjects('Mobile')"
      >
        <i class="fa-solid fa-xl fa-mobile-screen-button icon-button"></i>
        <h4>Applications</h4>
      </button>
    </div>

    <!-- Games -->
    <div class="col-md-3 col-6">
      <button
        class="category-button games"
        (click)="navigateToProjects('Game')"
      >
        <i class="fa-solid fa-xl fa-gamepad icon-button"></i>
        <h4>Games</h4>
      </button>
    </div>

    <!-- Algorithms -->
    <div class="col-md-3 col-6">
      <button
        class="category-button algorithms"
        (click)="navigateToProjects('Algorithm')"
      >
        <i class="fa-solid fa-xl fa-code icon-button"></i>
        <h4>Algorithms</h4>
      </button>
    </div>

    <!-- Experiences -->
    <div class="col-md-3 col-6">
      <button
        class="category-button experiences"
        (click)="navigateToProjects('Experience')"
      >
        <i class="fa-solid fa-xl fa-briefcase icon-button"></i>
        <h4>Experiences</h4>
      </button>
    </div>

    <!-- Gaming -->
    <div class="col-md-3 col-6">
      <button class="category-button rockpaper" (click)="navigateToGames()">
        <i class="fa-solid fa-xl fa-dice icon-button"></i>
        <h4>Play some games</h4>
      </button>
    </div>

    <a class="discover center-text" (click)="allProjects()"
      >Discover all projects and experiences</a
    >
    <div #nextView></div>
  </div>
</div>
