<div class="row top-padding center-div">
  <div class="content col-md-5 project-description">
    <h1 class="no-top-margin big-project-title">
      Breaking Bad - Android App
      <a class="source-code" onclick="window.open('https://drive.filen.io/f/d41c1ba2-9bd2-423a-b255-3eb60f3737c8#6Vhb0ZpYhb5JaS6S51D9wMTIbRejVipF');">
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-file-earmark-code-fill" viewBox="0 0 16 16">
          <path
            d="M9.293 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V4.707A1 1 0 0 0 13.707 4L10 .293A1 1 0 0 0 9.293 0zM9.5 3.5v-2l3 3h-2a1 1 0 0 1-1-1zM6.646 7.646a.5.5 0 1 1 .708.708L5.707 10l1.647 1.646a.5.5 0 0 1-.708.708l-2-2a.5.5 0 0 1 0-.708l2-2zm2.708 0 2 2a.5.5 0 0 1 0 .708l-2 2a.5.5 0 0 1-.708-.708L10.293 10 8.646 8.354a.5.5 0 1 1 .708-.708z"
          />
        </svg>
      </a>
    </h1>
    <p class="paragraph">
      This project involves creating an Android application that features all the characters from the hit TV show Breaking Bad. The app will use a public API to retrieve information about each
      character and display it in an easy-to-use interface. The app will be designed to be used horizontally, allowing users to easily browse through the list of characters. Users will be able to
      search for characters by name and filter them by various criteria such as their role in the show or their affiliation with certain groups. The app will provide a fun and engaging way for fans of
      the show to explore the world of Breaking Bad.
      <br />
      <br />
      <a class="read-more" (click)="openModal(breakingbad)">Read more</a>
    </p>
  </div>
  <div class="col-md-6">
    <img src="../../../assets/breakingbad.png" class="project-image" />
  </div>
  <div>
    <button class="tag">
      Android Studio
      <span class="tooltiptext">IDE</span>
    </button>
    <span class="vl">|</span>
    <button class="tag">
      Java
      <span class="tooltiptext">Language</span>
    </button>
    <button class="tag">
      XML
      <span class="tooltiptext">Language</span>
    </button>
    <span class="vl">|</span>
    <button class="tag">
      Frontend
      <span class="tooltiptext">Role</span>
    </button>
  </div>
  <hr class="bottom-padding center-div" style="margin-top: 20px; width: 70%" />
</div>

<ng-template #breakingbad let-modal>
  <div class="entire-modal">
    <div class="modalheader">
      <h4>Breaking Bad - Android App</h4>
      <button class="close-modal" (click)="modal.dismiss()">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-x-circle-fill" viewBox="0 0 16 16">
          <path
            d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293 5.354 4.646z"
          />
        </svg>
      </button>
    </div>
    <div class="modalbody">
      <label>
        <strong>Project Description</strong><br />
        This project involves creating an Android application that features all the characters from the hit TV show Breaking Bad. The app will use a public API to retrieve information about each
        character and display it in an easy-to-use interface. The app will be designed to be used horizontally, allowing users to easily browse through the list of characters. Users will be able to
        search for characters by name and filter them by various criteria such as their role in the show or their affiliation with certain groups. The app will provide a fun and engaging way for fans
        of the show to explore the world of Breaking Bad.<br /><br />
        <strong>My Role</strong><br />
        Lead Developer - I was fully responsible for every part of the Android application and there were no other people involved.
        <br /><br />
        <strong>Frameworks and Programs</strong><br />
        <ul>
          <li>Android Studio</li>
        </ul>
        <strong>Database</strong><br />
        <ul>
          <li>Public API</li>
        </ul>
        <strong>Programming Languages and Technologies</strong><br />
        <ul>
          <li>Java</li>
          <li>XML</li>
        </ul>
      </label>
    </div>
  </div>
</ng-template>
