/* Google Fonts */
@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);

/* Light Body */
body {
  height: calc(100vh - 8em);
  font-family: "Anonymous Pro", monospace;
  background-color: rgb(255, 255, 255);
  transition: 1s;
}

::selection {
  color: rgb(255, 255, 255);
  background: rgb(25, 25, 25);
}

/* Dark Body */
[theme="dark"] body {
  color: rgb(255, 255, 255);
  background-color: rgb(25, 25, 25);
}

[theme="dark"] ::selection {
  color: rgb(25, 25, 25);
  background: rgb(255, 255, 255);
}

::-webkit-scrollbar {
  width: 0px;
}

/* Light Back to Top Button */
.top-button {
  border: 0;
  position: fixed;
  bottom: 1em;
  right: 1em;
  width: 3.75em;
  padding: 1em;
  color: rgb(255, 255, 255);
  background-color: rgb(25, 25, 25);
  border-radius: 100%;
  cursor: pointer;
  transition: 1s;
  z-index: 100;
}

.top-button:hover {
  transform: scale(1.25) translateY(-10px);
}

/* Dark Back to Top Button */
[theme="dark"] .top-button {
  color: rgb(25, 25, 25);
  background-color: rgb(255, 255, 255);
}

/* Light Button */
.theme-button {
  border: 0;
  top: 1em;
  left: 1em;
  position: fixed;
  width: 3.75em;
  padding: 1em;
  color: rgb(255, 255, 255);
  background-color: rgb(25, 25, 25);
  border-radius: 100%;
  cursor: pointer;
  transition: 1s;
  z-index: 100;
}

.theme-button:hover {
  transform: scale(1.25) translate(-1px, -2px) rotate(-10deg);
}

/* Dark Button */
[theme="dark"] .theme-button {
  color: rgb(25, 25, 25);
  background-color: rgb(255, 255, 255);
}

/* No Styling Light Button */
.small-line {
  margin-bottom: -16px;
}

.clear-button {
  position: absolute;
  bottom: 3em;
  left: 0;
  right: 0;
  border: 0;
  background-color: transparent;
  cursor: pointer;
  color: rgb(25, 25, 25);
}

.clear-button:hover {
  transform: scale(1.25);
  animation: shake 0.75s;
  animation-iteration-count: infinite;
}

[theme="dark"] .clear-button {
  color: rgb(255, 255, 255);
}

/* Bouncing arrow */
.bounce {
  animation: bounce 0.5s;
  animation-direction: alternate;
  animation-timing-function: cubic-bezier(0.5, 0.05, 1, 0.5);
  animation-iteration-count: infinite;
}

@keyframes bounce {
  from {
    transform: translate3d(0, 2px, 0);
  }
  to {
    transform: translate3d(0, 20px, 0);
  }
}

@-webkit-keyframes bounce {
  from {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  to {
    -webkit-transform: translate3d(0, 200px, 0);
    transform: translate3d(0, 200px, 0);
  }
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}

/* Full Page */
.full-page {
  height: 100vh;
}

/* Text */
.top-padding {
  padding-top: 20px;
}

.bottom-padding {
  padding-bottom: 20px;
}

.no-top-margin {
  margin-top: 0;
}

.no-bottom-margin {
  margin-bottom: 0;
}

.center-text {
  text-align: center;
}

.big-title {
  font-size: 65px;
}

.big-subtitle {
  font-size: 30px;
}

.big-project-title {
  font-size: 29px;
}

/* Contact Link Buttons */
.contact-link {
  border: 0;
  width: 3.75em;
  padding: 1em;
  color: rgb(255, 255, 255);
  background-color: rgb(25, 25, 25);
  border-radius: 100%;
  cursor: pointer;
  transition: 1s;
  margin: 20px;
}

[theme="dark"] .contact-button button {
  background-color: rgb(255, 255, 255);
}

.contact-button:hover button {
  transform: scale(1.25);
}

.contact-button button svg {
  color: rgb(255, 255, 255);
  transition: 1s;
}

[theme="dark"] .contact-button button svg {
  color: rgb(25, 25, 25);
}

.line-1 {
  width: 100%;
  margin: 0 auto;
  margin-top: 40px;
  border-right: 2px solid rgb(255, 255, 255);
  white-space: nowrap;
  overflow: hidden;
}

@media (max-width: 550px) {
  .big-title {
    font-size: 40px;
  }

  .line-1 {
    width: 100%;
    font-size: 18px;
    margin: 0 auto;
    margin-top: 40px;
    border-right: 2px solid rgb(255, 255, 255);
    white-space: nowrap;
    overflow: hidden;
  }
}

[theme="dark"] .line-1 {
  border-right: 2px solid rgb(25, 25, 25);
}

/* Tag Button */
.tag {
  position: relative;
  margin-top: 5px;
  margin-right: 5px;
  border: 0;
  padding: 0.6em;
  background-color: rgb(25, 25, 25);
  color: rgb(255, 255, 255);
  font-size: 15px;
  border-radius: 25px;
  transition: 1s;
}

[theme="dark"] .tag {
  background-color: rgb(255, 255, 255);
  color: rgb(25, 25, 25);
}

.tag:hover {
  cursor: help;
}

.vl {
  background-color: transparent;
  border: 0;
  font-weight: bold;
  height: 1em;
  padding-left: -12px;
  margin-right: 5px;
}

.tag .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: rgb(25, 25, 25);
  color: rgb(255, 255, 255);
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 112%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transform: translateY(8px) rotate(0deg);
  transition: 0.5s;
}

[theme="dark"] .tag .tooltiptext {
  background-color: rgb(255, 255, 255);
  color: rgb(25, 25, 25);
}

.tag .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: rgb(25, 25, 25) transparent transparent transparent;
}

[theme="dark"] .tag .tooltiptext::after {
  border-color: rgb(255, 255, 255) transparent transparent transparent;
}

.tag:hover .tooltiptext {
  transform: translateY(0px) rotate(0deg);
  opacity: 1;
  visibility: visible;
}

/* Source Code Button */
a.source-code {
  color: rgb(25, 25, 25);
  transition: 1s;
}

[theme="dark"] a.source-code {
  color: rgb(255, 255, 255);
}

a.source-code:hover svg {
  transition: 1s;
  transform: scale(1.25) rotate(-360deg);
  cursor: pointer;
}

/* Projects */
.category-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 50px 0;
}

.category-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.category-button {
  width: 56vh;
  height: 30vh;
  border: 0;
  color: rgb(255, 255, 255);
  background-color: rgb(25, 25, 25);
  box-shadow: 3px 3px 10px rgb(25, 25, 25);
  border-radius: 25px;
  cursor: pointer;
  transition: 1s;
  margin: 10px;
  position: relative;
  overflow: hidden;
  transition: transform 0.3s;
}

[theme="dark"] .category-button {
  color: rgb(25, 25, 25);
  background-color: rgb(255, 255, 255);
}

.category-button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  opacity: 0;
  transition: opacity 0.5s ease-in;
}

.category-button:hover {
  transform: scale(1.05);
  transition: 2s;
}

.category-button:hover::before {
  opacity: 1;
}

.category-button.games::before {
  background-image: url("src/assets/hover/games.png");
}

.category-button.apps::before {
  background-image: url("src/assets/hover/apps.png");
}

.category-button.apis::before {
  background-image: url("src/assets/hover/apis.png");
}

.category-button.websites::before {
  background-image: url("src/assets/hover/websites.png");
}

.category-button.algorithms::before {
  background-image: url("src/assets/hover/algorithms.png");
}

.category-button.data::before {
  background-image: url("src/assets/hover/data.png");
}

.discover {
  color: rgb(25, 25, 25);
  margin: 0 0.25rem;
  padding: 0 0.25rem;
  margin-bottom: 65px;
  width: auto;
  font-size: 2rem;
  transition: color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  text-decoration: none;
}

.discover:hover {
  box-shadow: inset 420px 0 0 0 rgb(25, 25, 25);
  color: rgb(255, 255, 255);
  cursor: pointer;
}

[theme="dark"] .discover {
  color: rgb(255, 255, 255);
}

[theme="dark"] .discover:hover {
  box-shadow: inset 420px 0 0 0 rgb(255, 255, 255);
  color: rgb(25, 25, 25);
}

.year-line {
  width: 50%;
  margin: 0 auto;
}

.collapsable {
  background-color: transparent;
  border: none;
  color: rgb(25, 25, 25);
  transition: 1s;
}

[theme="dark"] .collapsable {
  color: rgb(255, 255, 255);
}

.collapsable:hover {
  scale: 1.1;
  animation: bounce2 0.75s;
  animation-direction: alternate;
  animation-timing-function: cubic-bezier(0.5, 0.5, 0.5, 0.5);
  animation-iteration-count: infinite;
}

@keyframes bounce2 {
  from {
    transform: translate3d(0, 0, 0);
  }
  to {
    transform: translate3d(0, 2px, 0);
  }
}

@-webkit-keyframes bounce2 {
  from {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  to {
    -webkit-transform: translate3d(0, 20px, 0);
    transform: translate3d(0, 20px, 0);
  }
}

.center-div {
  margin: auto;
  width: 100%;
}

.project-description {
  margin-right: 5%;
}

.content {
  margin-right: 20px;
}

.read-more {
  color: rgb(25, 25, 25);
  text-decoration: none;
  transition: 1s;
  display: inline-block;
  position: relative;
}

[theme="dark"] .read-more {
  color: rgb(255, 255, 255);
}

a.read-more:hover {
  color: rgb(25, 25, 25);
  cursor: pointer;
  transform: scale(1.1) translateX(3px);
}

[theme="dark"] a.read-more:hover {
  color: rgb(255, 255, 255);
}

.read-more::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: rgb(25, 25, 25);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

[theme="dark"] .read-more::after {
  background-color: rgb(255, 255, 255);
}

.read-more:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.project-image {
  border-radius: 10px;
  transition: 1s;
  margin-right: 5%;
  margin-bottom: 10px;
  width: 100%;
  box-shadow: 3px 7px 10px rgb(25, 25, 25);
}

.project-image:hover {
  transform: scale(1.05);
}

/* Modal */
.modalheader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.entire-modal {
  margin: auto;
  color: rgb(25, 25, 25);
  background-color: rgb(255, 255, 255);
  padding: 40px;
}

.modalbody {
  margin: 0 auto;
}

[theme="dark"] .entire-modal {
  color: rgb(255, 255, 255);
  background-color: rgb(25, 25, 25);
}

.close-modal {
  right: 1em;
  background-color: transparent;
  border: none;
  color: rgb(25, 25, 25);
}

[theme="dark"] .close-modal {
  color: rgb(255, 255, 255);
}

/* Animation */
.anim-typewriter {
  animation: typewriter 4s steps(44) 1s 1 normal both,
    blinkTextCursor 750ms steps(44) infinite normal;
}

@keyframes typewriter {
  from {
    width: 0;
  }
  to {
    width: 18.1em;
  }
}

@keyframes blinkTextCursor {
  from {
    border-right-color: currentColor;
  }
  to {
    border-right-color: transparent;
  }
}

/* Footer */
.footer-link {
  border: 0;
  width: 3.75em;
  padding: 1em;
  color: rgb(255, 255, 255);
  background-color: rgb(25, 25, 25);
  border-radius: 100%;
  cursor: pointer;
  transition: 1s;
  margin-right: 20px;
  margin-top: 5px;
}

[theme="dark"] .contact-footer-button button {
  background-color: rgb(255, 255, 255);
}

.contact-footer-button:hover button {
  transform: scale(1.1);
}

.contact-footer-button button svg {
  color: rgb(255, 255, 255);
  transition: 1s;
}

[theme="dark"] .contact-footer-button button svg {
  color: rgb(25, 25, 25);
}
