/* Google Fonts */
@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);

/* Light Body */
body {
  height: calc(100vh - 8em);
  font-family: "Anonymous Pro", monospace;
  background-color: rgb(255, 255, 255);
  transition: 1s;
}

::selection {
  color: rgb(255, 255, 255);
  background: rgb(25, 25, 25);
}

/* Dark Body */
[theme="dark"] body {
  color: rgb(255, 255, 255);
  background-color: rgb(25, 25, 25);
}

[theme="dark"] ::selection {
  color: rgb(25, 25, 25);
  background: rgb(255, 255, 255);
}

::-webkit-scrollbar {
  width: 0px;
}

/* Light Back to Top Button */
.top-button {
  border: 0;
  position: fixed;
  bottom: 1em;
  right: 1em;
  width: 3.75em;
  padding: 1em;
  color: rgb(255, 255, 255);
  background-color: rgb(25, 25, 25);
  border-radius: 100%;
  cursor: pointer;
  transition: 1s;
}

.top-button:hover {
  transform: scale(1.25) translateY(-10px);
}

/* Dark Back to Top Button */
[theme="dark"] .top-button {
  color: rgb(25, 25, 25);
  background-color: rgb(255, 255, 255);
}

/* Light Button */
.theme-button {
  border: 0;
  top: 1em;
  left: 1em;
  position: fixed;
  width: 3.75em;
  padding: 1em;
  color: rgb(255, 255, 255);
  background-color: rgb(25, 25, 25);
  border-radius: 100%;
  cursor: pointer;
  transition: 1s;
}

.theme-button:hover {
  transform: scale(1.25) translate(-1px, -2px) rotate(-10deg);
}

/* Dark Button */
[theme="dark"] .theme-button {
  color: rgb(25, 25, 25);
  background-color: rgb(255, 255, 255);
}

/* No Styling Light Button */
.small-line {
  margin-bottom: -16px;
}

.clear-button {
  position: absolute;
  left: 47%;
  bottom: 3em;
  border: 0;
  background-color: transparent;
  cursor: pointer;
  color: rgb(25, 25, 25);
}

.clear-button:hover {
  transform: scale(1.25);
  animation: shake 0.75s;
  animation-iteration-count: infinite;
}

[theme="dark"] .clear-button {
  color: rgb(255, 255, 255);
}

/* Bouncing arrow */
.bounce {
  animation: bounce 0.5s;
  animation-direction: alternate;
  animation-timing-function: cubic-bezier(0.5, 0.05, 1, 0.5);
  animation-iteration-count: infinite;
}

@keyframes bounce {
  from {
    transform: translate3d(0, 2px, 0);
  }
  to {
    transform: translate3d(0, 20px, 0);
  }
}

@-webkit-keyframes bounce {
  from {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  to {
    -webkit-transform: translate3d(0, 200px, 0);
    transform: translate3d(0, 200px, 0);
  }
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}

/* Full Page */
.full-page {
  height: 100vh;
}

/* Text */
.top-padding {
  padding-top: 20px;
}

.bottom-padding {
  padding-bottom: 20px;
}

.no-top-margin {
  margin-top: 0;
}

.no-bottom-margin {
  margin-bottom: 0;
}

.center-text {
  text-align: center;
}

.big-title {
  font-size: 65px;
}

.big-subtitle {
  font-size: 30px;
}

.big-project-title {
  font-size: 29px;
}

/* Contact Link Buttons */
.contact-link {
  border: 0;
  width: 3.75em;
  padding: 1em;
  color: rgb(255, 255, 255);
  background-color: rgb(25, 25, 25);
  border-radius: 100%;
  cursor: pointer;
  transition: 1s;
  margin: 20px;
}

.contact-link a {
  color: rgb(255, 255, 255);
  transition: 1s;
}

[theme="dark"] .contact-link {
  background-color: rgb(255, 255, 255);
}

[theme="dark"] .contact-link a {
  color: rgb(25, 25, 25);
}

.contact-link:hover {
  transform: scale(1.25);
}

.line-1 {
  width: 24em;
  margin: 0 auto;
  margin-top: 40px;
  border-right: 2px solid rgb(255, 255, 255);
  white-space: nowrap;
  overflow: hidden;
  transform: translateY(-50%);
}

[theme="dark"] .line-1 {
  border-right: 2px solid rgb(25, 25, 25);
}

/* Tag Button */
.tag {
  position: relative;
  margin-top: 5px;
  margin-right: 5px;
  border: 0;
  padding: 0.6em;
  background-color: rgb(25, 25, 25);
  color: rgb(255, 255, 255);
  font-size: 15px;
  border-radius: 25px;
  transition: 1s;
}

[theme="dark"] .tag {
  background-color: rgb(255, 255, 255);
  color: rgb(25, 25, 25);
}

.tag:hover {
  cursor: default;
}

.vl {
  background-color: transparent;
  border: 0;
  border-right: 3px solid rgb(25, 25, 25);
  height: 1em;
  margin-right: 5px;
  margin-left: -10px;
  transition: 1s;
}

.vl:hover {
  cursor: default;
}

[theme="dark"] .vl {
  border-right: 3px solid rgb(255, 255, 255);
}

/* Source Code Button */
a.source-code {
  color: rgb(25, 25, 25);
  transition: 1s;
}

[theme="dark"] a.source-code {
  color: rgb(255, 255, 255);
}

a.source-code:hover svg {
  transition: 1s;
  transform: scale(1.25) rotate(-360deg);
}

/* Projects */
.year-line {
  width: 50%;
  margin: 0 auto;
}

.collapsable {
  background-color: transparent;
  border: none;
  color: rgb(25, 25, 25);
  transition: 1s;
}

[theme="dark"] .collapsable {
  color: rgb(255, 255, 255);
}

.collapsable:hover {
  scale: 1.1;
  animation: bounce2 0.75s;
  animation-direction: alternate;
  animation-timing-function: cubic-bezier(0.5, 0.5, 0.5, 0.5);
  animation-iteration-count: infinite;
}

@keyframes bounce2 {
  from {
    transform: translate3d(0, 0, 0);
  }
  to {
    transform: translate3d(0, 2px, 0);
  }
}

@-webkit-keyframes bounce2 {
  from {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  to {
    -webkit-transform: translate3d(0, 20px, 0);
    transform: translate3d(0, 20px, 0);
  }
}

.center-div {
  margin: auto;
  width: 100%;
}

.project-description {
  margin-right: 5%;
}

.content {
  margin-right: 20px;
}

.read-more {
  color: rgb(25, 25, 25);
  text-decoration: none;
  transition: 1s;
}

[theme="dark"] .read-more {
  color: rgb(255, 255, 255);
}

a.read-more:hover {
  color: rgb(25, 25, 25);
  text-decoration: underline;
  cursor: pointer;
}

[theme="dark"] a.read-more:hover {
  color: rgb(255, 255, 255);
}

.project-image {
  border-radius: 10px;
  transition: 1s;
  margin-right: 5%;
  width: 100%;
  box-shadow: 5px 10px 18px rgb(25, 25, 25);
}

.project-image:hover {
  transform: scale(1.05);
}

/* Modal */
.modalheader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.entire-modal {
  margin: auto;
  color: rgb(25, 25, 25);
  background-color: rgb(255, 255, 255);
  padding: 40px;
}

/* Modal body will be wider and centered */
.modalbody {
  min-width: 1455px;
  margin-right: 700px;
  margin: 0 auto;
}

[theme="dark"] .entire-modal {
  color: rgb(255, 255, 255);
  background-color: rgb(25, 25, 25);
}

.close-modal {
  right: 1em;
  background-color: transparent;
  border: none;
  color: rgb(25, 25, 25);
}

[theme="dark"] .close-modal {
  color: rgb(255, 255, 255);
}

/* Animation */
.anim-typewriter {
  animation: typewriter 4s steps(44) 1s 1 normal both,
    blinkTextCursor 750ms steps(44) infinite normal;
}

@keyframes typewriter {
  from {
    width: 0;
  }
  to {
    width: 18.1em;
  }
}

@keyframes blinkTextCursor {
  from {
    border-right-color: currentColor;
  }
  to {
    border-right-color: transparent;
  }
}

/* Footer */
.footer-link {
  border: 0;
  width: 3.75em;
  padding: 1em;
  color: rgb(255, 255, 255);
  background-color: rgb(25, 25, 25);
  border-radius: 100%;
  cursor: pointer;
  transition: 1s;
  margin-right: 20px;
}

.footer-link a {
  color: rgb(255, 255, 255);
  transition: 1s;
}

[theme="dark"] .footer-link {
  background-color: rgb(255, 255, 255);
}

[theme="dark"] .footer-link a {
  color: rgb(25, 25, 25);
}

.footer-link:hover {
  transform: scale(1.1);
}
